.dark-theme .profile-card-item {
    background-color: var(--neutral8);
    box-shadow: 0px 64px 64px -48px rgb(31 47 70 / 12%);
    border-radius: 20px;
    padding: 12px;
}

.profile-card-item {
    background: var(--neutral8);
    box-shadow: 0px 64px 64px -48px rgb(31 47 70 / 12%);
    border-radius: 20px;
    padding: 12px;
}
