:root {
    --primary1: #3772FF;
    --primary2: #9757D7;
    --primary3: #EF466F;
    --primary4: #45B26B;
    --secondary1: #4BC9F0;
    --secondary2: #E4D7CF;
    --secondary3: #FFD166;
    --secondary4: #CDB4DB;
    --neutral1: #141416;
    --neutral2: #23262F;
    --neutral3: #353945;
    --neutral4: #777E90;
    --neutral5: #B1B5C3;
    --neutral6: #E6E8EC;
    --neutral7: #F4F5F6;
    --neutral8: #FCFCFD;
}

.dark-theme {
    --primary1: #3772FF;
    --primary2: #9757D7;
    --primary3: #EF466F;
    --primary4: #45B26B;
    --secondary1: #4BC9F0;
    --secondary2: #E4D7CF;
    --secondary3: #FFD166;
    --secondary4: #CDB4DB;
    --neutral1: #FCFCFD;
    --neutral2: #F4F5F6;
    --neutral3: #E6E8EC;
    --neutral4: #777E90;
    --neutral5: #B1B5C3;
    --neutral6: #353945;
    --neutral7: #23262F;
    --neutral8: #141416;
}

$grid-gutter-width: 32px;
$navbar-padding-x: 32px;
